.header {

    width: 1200px;
    margin: 10px auto;
    background: burlywood;
    line-height: 50px;

    border: 5px solid #ddd;
    box-sizing: border-box;

}

.header h1,
h2 {
    margin: 20px;
}

.inner {
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    padding: auto;
    border: 5px solid #ddd;
    box-sizing: border-box;

}

.name {
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    border-bottom: 5px solid #ddd;

}


ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    box-sizing: border-box;
    list-style: none;
    border-bottom: 2px dotted #ddd;
    text-align: center;

}

ul li {
    padding: 5px 10px;
}


ul strong {
    color: red;

}

ul .click {
    list-style: circle;
    border-bottom: 2px dotted #ddd;
    font-weight: bold;
    text-align: left;
    list-style-position: inside;
}




a {
    color: inherit;
    text-decoration: none;
}