.inner {
    max-width: 1200px;
    margin: 0 auto;

}

.top_banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* 위치를 지정. 꼭대기에 붙이고 left 0과 right 0을 주니 박스가 퍼지더라 탑과바텀도 마찬가지*/
    background: tomato;
}

.top_banner .inner {
    height: 150px;
    overflow: hidden;
    transition: 0.5s;
    /* 글자가 들어간 박스. 높이를 주지 않으면 아예 뜨지 않는다 */
}

.top_banner.on .inner {
    height: 0;
}

.top_banner .btn {
    position: absolute;
    /* 높이가 있어서 탑보단 바텀을 쓰는게 낫다 */
    bottom: 0;
    left: 50%;
    /* 기준을 정하는 용도 */
    transform: translate(-100%, 100%);
    margin: 0 0 0 600px;
    /* 실질적으로 위치를 변경시킴 */
    background: tomato;
    color: #fff;
    font-size: 30px;
    padding: 10px;
}

.top_banner .btn::after {
    content: "위로올려";
}

.top_banner.on .btn::after {
    content: "아래내려";
}

.top_banner.on .btn i {
    transform: rotate(180deg);
}





.down_banner {
    position: fixed;
    bottom: 0;
    right: 50%;
    /* 위치를 지정. 꼭대기에 붙이고 left 0과 right 0을 주니 박스가 퍼지더라 탑과바텀도 마찬가지*/
    background: tomato;
    height: 200px;
    width: 400px;
    transition: 0.5s;
    /* 글자가 들어간 박스. 높이를 주지 않으면 아예 뜨지 않는다 */
}

.down_banner.on {
    height: 0;
}

.down_banner .btn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    color: black;
    background: blue;
    font-size: 30px;
    padding: 10px;
}

.down_banner .btn::after {
    content: "아래";
}

.down_banner.on .btn::after {
    content: "위";
}

.down_banner.on .btn i {
    transform: rotate(180deg);
}




.right_banner {
    position: fixed;
    top: 50%;
    right: 0;
    width: 300px;
    height: 400px;
    background: tomato;
    /* 박스의 크기를 지정 */
    transition: 0.5s;
}

.right_banner.on {
    right: -300px;
}


.right_banner .btn {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
}

.right_banner.on .btn i {
    transform: rotate(180deg);
}

.right_banner .btn i {
    padding: 10px;
    background: #333;
    color: #fff;
    font-size: 20px;
}

.left_banner {
    position: fixed;
    top: 50%;
    left: 0;
    width: 300px;
    height: 400px;
    background: tomato;
    transition: 0.5s;
    /* 박스의 크기 - 가로 삼백 세로 사백 */
}

.left_banner.on {
    left: -300px;
    /* 박스의 가로 너비만큼 마이너스 시킴 */
}

.left_banner .btn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%, 0);
}

.left_banner.on .btn i {
    transform: rotate(180deg);
}

.left_banner .btn i {
    padding: 10px;
    background: #333;
    color: #fff;
    font-size: 20px;
}